body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
}

.green-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
}